* {
    /*-fx-text-fill: #EEEEEE;*/
    -fx-font-family: Roboto;
    /*-fx-font-size: 14px;*/
}

.btn-default {
    -fx-text-fill: #111111;
    -fx-background-color: #EEEEEE;
    -fx-font-size: 14px;
}

.btn-success {
    -fx-text-fill: #EEEEEE;
    -fx-background-color: darkgreen;
    -fx-font-size: 14px;
}

.label {
    -fx-text-fill: #EEEEEE;
    -fx-font-size: 14px;
}

.lbl-default {
    -fx-text-fill: #EEEEEE;
    -fx-font-size: 14px;
    -fx-text-alignment: center;
}

.checkbox-default {
    -fx-text-fill: #EEEEEE;
}

JFXListView {
    -fx-text-fill: #111111;
}

.scroll-pane-default {
    -fx-background: #222222;
    -fx-text-fill: #EEEEEE;
    -fx-border-color: #222222;
    -fx-background-insets: 10px;
}

.jfx-list-cell {
    -fx-text-fill: #111111;
}

.jfx-list-cell:odd, .jfx-list-cell:even {
    -fx-background-color: white;
}

.jfx-list-cell:hover {
    -fx-background-color: #2f456f;
    -fx-text-fill: #EEEEEE;
}
.jfx-list-cell:selected {
    -fx-background-color: #222e4b;
    -fx-text-fill: #EEEEEE;
}

.dashboard-menu-button {
    -fx-text-fill: #EEEEEE !important;
    -fx-font-size: 18px !important;
}

.footer {
    -fx-background-color: #222222;
}

.text-input {
    -fx-font-size: 14px;
    -fx-font-fill: #EEEEEE;
    -fx-text-fill: #EEEEEE;
}

.jfx-date-picker .text-field {
    -jfx-default-color: #222e4b;
    -jfx-unfocus-color: #DDDDDD;
    -fx-text-fill: #EEEEEE;
}

.jfx-snackbar-content {
    -fx-text-alignment: center;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
    -fx-background-color: #222e4b;
    -fx-text-fill: #EEEEEE;
}

.jfx-snackbar-toast {
    -fx-text-fill: #EEEEEE;
}

.jfx-snackbar {
    -fx-text-fill: #EEEEEE;
}

.jfx-scroll-pane {
    -fx-background-color: #222222;
}

.jfx-scroll-pane .main-header {
    -fx-background-color: #222222;
}

.jfx-scroll-pane .list-view-container {
    -fx-background-color: #222222;
}

.header-wrapper .header {
    /*-fx-background-insets: 10px;*/
    /*-fx-border-insets: 10px;*/
    -fx-font-size: 32px;
    -fx-font-weight: 700;
    -fx-text-fill: #eeeeee;
}

.header-wrapper {
    -fx-background-color: #222e4b;
}

.combo-box-base > * {
    -fx-text-fill: #EEEEEE;
}